* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 20px;
}

main {
    width: 600px;
    margin: auto;
}

input {
    width: 70px;
    height: 210px;
    cursor: pointer;
    background-color: #ffffff;
}

input:active {
    background-color: #eeeeee;
}

body {
    background-color: #dddddd;
}

h2 {
    text-align: left;
    padding: 15px;
}

li {
    text-align: left;
    padding-left: 15px;
}