* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 20px;
}

h2 {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
}

h3 {
    margin: 20px;
}

main {
    width: 700px;
    margin: auto;
}

.inputPiano {
    width: 70px;
    height: 210px;
    cursor: pointer;
    background-color: #ffffff;
    margin-top: 30px;
    padding-top: 130px;
    border-radius: 0% 0% 5% 5%;
    font-weight: bolder;
    color: #808080;
    border: solid 1px darkgray;
}

.inputPiano:active {
    background-color: #eeeeee;
}

body {
    background-color: #808080;
}

li {
    text-align: left;
    margin-left: 15px;
}

.piano {
    width: 700px;
    height: 300px;
    background: linear-gradient(to bottom right,rgba(0,0,0,0.1),rgba(0,0,0,0.0)),url(../image/85_dark\ fine\ wood\ texture-seamless.jpg);
    box-shadow: 0px 0px 10px 2px black;
    border: outset 2px black;
    border-radius: 30% 30% 5% 5%;
}

.pianoTitle {
    color: #ffffff;
    padding-top: 35px;
    font-size: large;
    text-shadow: 0px 0px 3px #dddddd;

}

.down {
    display: flex;
    justify-content: center;
  }

.changeMode {
    margin-left: 70px;
    text-align: left;
}

/* Estilizando o input do tipo radio */
input#changeMode {
    /* Ocultar o botão padrão */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    width: 40px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 20%;
    background-image: linear-gradient(to right, #808080, #ffffff, #ffffff);
    vertical-align: middle;
    cursor: pointer;
  }
  
  /* Estilizando o input do tipo radio quando selecionado */
  input#changeMode:checked {
    background-image: linear-gradient(to right, #ffffff, #ffffff, #3e8e41);
  }
  

.pianoKids {
    background: linear-gradient(to bottom right,rgba(0,0,0,0.1),rgba(0,0,0,0.0)),url(../image/newPiano.jpg);
 }

 .labelModoKids {
    padding: 5px;
    background-color: #8080808e;
    border-radius: 20px;
    width: 130px;
 }